@primary-color: darken(#507171, 8%);
@common-height: 40px;
@common-shadow: -2px 1px 4px #000000;

html {
  position: relative;
  min-height: 100%;
  }

body {
  background: url('../images/seamless_paper_texture.png');
  margin-top: ceil(@common-height * 1.8);
  & > .container {
    padding: ceil(@common-height * 0.3);
    }
  }

nav.navbar.navbar-default {
  box-shadow: 0 2px 4px #000000;
  & .navbar-header img {
    box-shadow: @common-shadow;
    }
  }

.alert {
    box-shadow: @common-shadow;
}